*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
.main{
    width: 90%;
    max-width: 500px;  
    /* background-color: rebeccapurple; */
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #ffff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    width: 90%;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: black;
    padding: 10px 15px;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 16px;
}
.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search button img{
    width: 45%;
    margin: 0 auto;
}
.icon{
    width: 170px;
    margin-top: 30px;
}
.body{
    display: none;
}
.body h1{
    font-size: 4rem;
    font-weight: 500;
}
.body h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    /* gap: 30px; */
}
.col img{
    margin-right: 15px;
    width: 40px;
}
.col p{
    font-size: 1.5rem;
    font-weight: 100;
}
.error{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    color: red;
    display: none;
}